{% extends 'basic.html' %}

{% block head %}
	{{super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" type="text/css">
{% endblock head %}

{% block title %}about{% endblock title %}

{% block about_active %}
	active
{% endblock about_active%}

{% block content %}
<p>
	I'm an on-leave Hampshire student, a contra and morris dancer, a folk singer, and much more - but what matters to you is that I'm a clear-thinking and well-grounded web developer, with a commitment to making your concept a reality.
</p>
<p>
	Born in the 90s, I grew up native to the computers and the internet. I have watched, and lived with it, as the web has evolved, from geocities to web 2.0 to the internet of today. From this, I have an innate sense of how users interact with websites and how to structure them to best facilitate that. I have also worked hard to develop an appreciation for the fact that, really, not everybody uses computers the same way (and that's okay!)
</p>
<br>
<p>
	You should talk to me about building your website if you value:
	<ul>
		<li>commitment to keeping your website up-to-date with current design trends, software releases, and content from you</li>
		<li>a clean and cohesive look for your website</li>
		<li>somebody who is happy to work towards your goal (while also sharing her professional opinions on what would work best)</li>
		<li>socially responsible/ethical workflows, projects, and politics</li>
		<li>clear navigational flow</li>
			<ul><li>menus, page layout, and all the other pieces that make a good reading experience</li></ul>
		<li>clear and future-proof code</li>
	</ul>
</p>
{% endblock content %}