{% extends 'basic.html' %}

{% block head %}
	{{super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" type="text/css">
{% endblock head %}

{% block title %}about{% endblock title %}

{% block about_active %}
	active
{% endblock about_active%}

{% block content %}
<h3>who are you?</h3>
<p>
	I'm a student at Hampshire College, a sound engineer, a contra and morris dancer, a folk singer, and much more &mdash; but what matters to you is that I'm a clear-thinking and well-grounded web developer, with a solid commitment to making your concept a reality.
</p>
<h3>what's your story?</h3>
<p>
	Born in the 90s, I grew up native to the computers and the internet. I have watched and experienced as the web has evolved, from Geocities to web 2.0 to the internet of today. From this, I have an innate sense of how users interact with websites and how to structure them to best facilitate that. I have also worked hard to develop an appreciation for the fact that, really, not everybody uses computers the same way (and that's okay!)
</p>
<h3>where are you located?</h3>
<p>
	I live in Northampton, MA, and my business is based out of Easthampton, MA &mdash; but I'm happy to work with clients from anywhere in the country!
</p>
<h3>why are you the right choice for me?</h3>
<p>
	You should talk to me about designing and building your website if you value:
	<ul>
		<li>commitment to keeping your website up-to-date</li>
		<ul>
			<li>current design trends</li>
			<li>software releases</li>
			<li>content from you</li>
		</ul>
		<li>a clean and cohesive look for your website</li>
		<li>socially responsible workflows, projects, and politics</li>
		<li>clear navigational flow, including menus and page layout</li>
		<li>non-obfuscated and future-proof code</li>
	</ul>
</p>
<p>
	My working process is based heavily on a dialogue between us about your vision and my professional opinion on how best to accomplish that. This doesn't always mean that what you see in your head will be what happens on paper &mdash; that's not why you need a designer &mdash; but if reality and concept diverge, it will be for solid reasons, not a lack of technical expertise. I will not make suggestions about your design that I can't back up and stand behind, but I certainly will make them, in a clear and pleasant way.
</p>
{% endblock content %}