{% extends 'basic.html' %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
{% endblock head %}

{% block title %}home{% endblock title %}

{% block home_active %}
	active
{% endblock home_active%}

{% block content %}
<div class="row mx-auto">
	<div class="col-md">
		<div class="picture mx-auto">
			<img src="{{ url_for('static', filename='images/rowan.jpg') }}" />
		</div>

	</div>

	<div class="blurb col-md my-auto mx-auto">
		<p>
		Rowan has been working with computers and the web for as long as she can remember. Between an aptitude for learning new skills, lifelong immersion in the internet, and an appreciation for beautiful UI, Rowan is an excellent choice to build your next website.
		</p>
	</div>
</div>
{% endblock content %}