{% extends 'basic.html' %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}" type="text/css">
{% endblock head %}

{% block title %}portfolio{% endblock title %}

{% block portfolio_active %}
	active
{% endblock portfolio_active%}

{% block content %}
<div class="row">
	<div class="col-sm-3">
		<a href="http://sarahpilzer.com" data-featherlight="iframe" data-featherlight-root=".wrapper" class="website-iframe">
		<img src="{{ url_for('static', filename='images/sarahpilzer.png') }}" class="thumbnail">
		</a>
	</div>
	<div class="col-sm"></div>
	<div class="col-sm-3">
		<p>Rowan is happy to help you with whatever you need done: she'll build a website, advise you on building your own, manage server hosting and domain name registration, provide continuing support, and more. She is comfortable in Javascript, CSS, HTML, Wordpress, Python, and MongoDB, and quick to pick up whatever other tools you may use.</p>
	</div>
</div>
{% endblock content %}